@model whetstone_MIS4200_MVC_P1.Models.appointmentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>appointmentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procedureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procedureID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
