@model IEnumerable<whetstone_MIS4200_MVC_P1.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instructorsFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorsLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorsEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorsPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schoolIDc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instructorsFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorsLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorsEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorsPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schoolIDc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.instructorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.instructorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.instructorID })
        </td>
    </tr>
}

</table>
